#APPLICATION ENV
ENV = dev
APP_PORT = 8080
APP_HOST = localhost

#MONGODB ENV
MONGO_USERNAME = 
MONGO_PASSWORD = 
MONGO_HOST = 
MONGO_PORT = 
MONGO_DB_NAME = auction
MONGO_OPTIONS = ?retryWrites=true&w=majority

#MAIL
EMAIL_USER= 
EMAIL_PASSWORD= 
EMAIL_HOST= smtp.gmail.com
EMAIL_PORT= 587

#CLOUDINARY ENV
CLOUDINARY_NAME = 
CLOUDINARY_KEY = 
CLOUDINARY_SECRET = 

#API
API_VERSION = v1

#JWT
JWT_KEY = secret

#SESSION
SESSION_KEY = express.sid
SESSION_SECRET = mySecret
SESSION_STORE_COLLECTION = Sessions
SESSION_STORE_AUTO_REMOVE_MODE = native

#COOKIE
COOKIE_KEY = 

#DEFAULT CONSTANTS FOR APP
APP_DEFAULT_AVATAR = https://res.cloudinary.com/edtu/image/upload/v1604137396/images/51f6fb256629fc755b8870c801092942_cbgtdt.png
PRODUCT_DEFAULT_IMG = https://res.cloudinary.com/edtu/image/upload/v1606722179/images/default_product_image_400_qayiwz.jpg

#REDIS
REDIS_HOST = 127.0.0.1
REDIS_PORT = 6379
REDIS_TLS = 260


